My workflow 3 (1).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbda1b40-cbce-40a6-b7b4-fb265e183c14",
              "name": "thread_id",
              "value": "={{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        528
      ],
      "id": "3bc60606-0200-4dea-bf37-97f689bd3ba6",
      "name": "Crear Thread1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio_whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        320
      ],
      "id": "11df300a-6a90-499d-809e-ad938531b392",
      "name": "Webhook1",
      "webhookId": "5cc46622-e647-4b6a-a217-bf70ed839a2a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{$json.thread_id || $json.last_thread_id}}/messages\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role\": \"user\",\n  \"content\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"={{(\n        $json.message\n        || $json.Body\n        || $json.body?.Body\n        || $json['content']?.[0]?.text?.value\n        || $json.data?.[0]?.content?.find(c => c.type === 'text')?.text?.value\n        || ''\n      ).trim()}}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        624
      ],
      "id": "7fe83a4b-4e8c-4dfb-8bf7-9d36d2dd17d0",
      "name": "Enviar Mensaje1",
      "credentials": {
        "openAiApi": {
          "id": "lIsgSHGWEnPHb8Zi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{$json.thread_id}}/messages\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "role",
              "value": "assistant"
            },
            {
              "name": "run_id",
              "value": "={{$json.id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAi-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        336
      ],
      "id": "5eb5220c-0360-4a83-bfec-4ce1601819e5",
      "name": "Obtener Respuesta1",
      "credentials": {
        "openAiApi": {
          "id": "lIsgSHGWEnPHb8Zi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "from": "whatsapp:+16286001287",
        "to": "={{ \n  'whatsapp:+' + (\n    $node['Normalize1'].json.from_e164 ||\n    $node['Lead fields'].json.phone ||\n    $json.phone ||\n    $node['Webhook1'].json.body.WaId\n  )\n}}",
        "toWhatsapp": "=",
        "message": "={{ $json.data?.[0]?.content?.[0]?.text?.value }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -48,
        320
      ],
      "id": "36a3a903-80df-4acc-87ab-d8cfb6ddf18a",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "LQRdqkAAVi65ZwRH",
          "name": "Twilio account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "timestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}",
              "id": "3fef1d51-aceb-41de-a39e-d0dd869c632f"
            },
            {
              "name": "phone",
              "type": "string",
              "value": "={{$json.from_e164}}",
              "id": "c6d532de-94f8-4ca7-8fd0-8809cc817b02"
            },
            {
              "name": "=from_e164",
              "type": "string",
              "value": "={{ $json.from_e164 }}",
              "id": "ef676bc9-87d0-4cc1-b9e0-8e6ae2f12a11"
            },
            {
              "name": "name",
              "type": "string",
              "value": "={{ $('Webhook1').item.json.body.ProfileName || '' }}",
              "id": "0b498632-1cfe-4fb3-acd0-13cb63c5e67b"
            },
            {
              "name": "message",
              "type": "string",
              "value": "={{ $('Webhook1').item.json.body.Body }}",
              "id": "57f1a4fa-6cb0-44d0-9682-9f5f89969259"
            },
            {
              "name": "thread_id",
              "type": "string",
              "value": "={{$json.thread_id}}",
              "id": "4f6a12d4-c2e8-486b-b0cd-1b094badefc0"
            },
            {
              "name": "message_sid",
              "type": "string",
              "value": "={{ $json.message_sid || '' }}",
              "id": "fdf344a5-63d2-488b-9736-c5d1d60f5afe"
            },
            {
              "name": "source",
              "type": "string",
              "value": "={{ $json.source || '' }}",
              "id": "aa5ddd82-5018-461d-8ed2-4289f3ddc66a"
            },
            {
              "name": "run_id",
              "type": "string",
              "value": "={{ $json.id }}",
              "id": "edc4f9b6-5b1b-4f58-9dd9-80fd37e9cfb3"
            },
            {
              "id": "d2c5591f-494a-4e52-a288-affb8578d04f",
              "name": "last_message",
              "value": "={{$json.message}}\n",
              "type": "string"
            },
            {
              "id": "3ca3ab9c-600f-45d9-b21d-baff68ce475a",
              "name": "=last_reply",
              "value": "={{$json.data[0].content[0].text.value}}\n",
              "type": "string"
            },
            {
              "id": "a4abdecd-92a4-4260-a446-bf88cae6583e",
              "name": "=last_thread_id",
              "value": "={{$json.thread_id}}",
              "type": "string"
            },
            {
              "id": "87293b99-6bde-4c92-921e-353fcd3d90bf",
              "name": "=assistant_reply",
              "value": "={{$json.data[0].content[0].text.value}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4b6c8ce5-69f3-408b-9262-4c038f98f247",
      "name": "Lead fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "114b6TZibq9yknsuZ8zKpgfWpTJW5-j0W2KZmBT_Hl30"
        },
        "sheetName": {
          "__rl": true,
          "value": "conversations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_e164": "={{ $json.from_e164 }}",
            "name": "={{ $json.name }}",
            "last_message": "={{ $json.last_message_at }}",
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "assistant_reply": "={{ $json.assistant_reply }}",
            "run_id": "={{ $json.run_id }}",
            "thread_id": "={{ $json.thread_id }}",
            "message_sid": "={{ $json.message_sid }}",
            "timestamp": "={{ $json.timestamp }}",
            "last_reply": "={{ $json.last_reply }}",
            "last_message_at": "={{ $json.last_message_at }}",
            "last_thread_id": "={{ $json.last_thread_id }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [
            "from_e164"
          ],
          "schema": [
            {
              "id": "from_e164",
              "displayName": "from_e164",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_reply",
              "displayName": "last_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_at",
              "displayName": "last_message_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_thread_id",
              "displayName": "last_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assistant_reply",
              "displayName": "assistant_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_sid",
              "displayName": "message_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        112,
        -192
      ],
      "id": "2d8f32a8-62dc-432c-b526-e8430cb5d317",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12XsQlny3ctt8evo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "114b6TZibq9yknsuZ8zKpgfWpTJW5-j0W2KZmBT_Hl30"
        },
        "sheetName": {
          "__rl": true,
          "value": "messages",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "from_e164": "={{ $json.from_e164 }}",
            "phone": "={{ $('Webhook1').item.json.body.WaId }}",
            "name": "={{ $('Webhook1').item.json.body.ProfileName }}",
            "thread_id": "={{ $json.thread_id }}",
            "message": "={{ $json.message }}",
            "assistant_reply": "={{ $json.assistant_reply }}",
            "run_id": "={{ $json.run_id }}",
            "message_sid": "={{ $json.message_sid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_e164",
              "displayName": "from_e164",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assistant_reply",
              "displayName": "assistant_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_sid",
              "displayName": "message_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        80
      ],
      "id": "0a570172-bfa6-4105-b9d7-687a8364627e",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12XsQlny3ctt8evo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "300140e4-3283-4ba7-86db-0aeaab823f70",
              "name": "=from_e164",
              "value": "={{$json.body?.WaId || $json.body?.From || $json.From || $json.from || $json.wa_id || $json.body?.from || ''}}",
              "type": "string"
            },
            {
              "id": "f8e7dcc1-3ec0-4a56-9f07-5e33c50d2289",
              "name": "message",
              "value": "={{$json.body?.Body || $json.body?.message || $json.message || ''}}",
              "type": "string"
            },
            {
              "id": "093c1af3-2eed-4755-9daf-e755f75d02e3",
              "name": "message_sid",
              "value": "={{$json.body?.MessageSid || $json.message_sid || ''}}",
              "type": "string"
            },
            {
              "id": "bc2d136f-1d4e-4f99-b584-23493ff4bc03",
              "name": "timestamp",
              "value": "={{$json.body?.Timestamp || $json.timestamp || Date.now()}}",
              "type": "string"
            },
            {
              "id": "6781f9bb-ba73-4d2e-8d76-6eb61a03b331",
              "name": "source",
              "value": "={{$json.body?.MessageSid ? 'twilio' : (($json.body?.WaId || $json.body?.waId) ? 'wa' : 'unknown')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        272
      ],
      "id": "273f1cbd-6808-4af8-8295-4b5315e49381",
      "name": "Normalize1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "114b6TZibq9yknsuZ8zKpgfWpTJW5-j0W2KZmBT_Hl30",
          "mode": "list",
          "cachedResultName": "TERRI_LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/114b6TZibq9yknsuZ8zKpgfWpTJW5-j0W2KZmBT_Hl30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 358399157,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/114b6TZibq9yknsuZ8zKpgfWpTJW5-j0W2KZmBT_Hl30/edit#gid=358399157"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "from_e164",
              "lookupValue": "={{ $json.from_e164 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2096,
        512
      ],
      "id": "e9ad2007-5ce4-4bf2-9eea-eab8597b49b2",
      "name": "Lookup1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "12XsQlny3ctt8evo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1760,
        208
      ],
      "id": "5ab04f3c-ca53-4afe-aeb7-51954d7cdc88",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a02e063-0995-48a5-a5b0-06cc186d0e08",
              "leftValue": "={{$json.last_thread_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        304
      ],
      "id": "86bb45ea-a884-47eb-a373-bb68a933f7f6",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a906a2f1-f367-490c-897f-f983f7bf4669",
              "name": "thread_id",
              "value": "={{$json.last_thread_id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        144
      ],
      "id": "15a6f237-99f3-4cb1-8a87-63afc30a1dee",
      "name": "Use existing thread1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        256
      ],
      "id": "51f348d9-5dfd-490e-81d2-31e857f73cce",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        528
      ],
      "id": "25c56805-6ce2-4dfa-b333-ad2bc3f327ab",
      "name": "Use new thread1",
      "credentials": {
        "openAiApi": {
          "id": "lIsgSHGWEnPHb8Zi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1456,
        592
      ],
      "id": "653b4e57-522e-4e19-9134-9d869952173d",
      "name": "Merge thread data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{$json.thread_id}}/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistant_id\": \"asst_QdZhEIIIcx2xoesqyyguS0qj\",\n  \"response_format\": { \"type\": \"text\" },\n  \"tool_choice\": \"auto\",\n  \"parallel_tool_calls\": true,\n  \"temperature\": 0.2,\n  \"top_p\": 0.3,\n  \"tools\": [\n    { \"type\": \"file_search\" }\n  ],\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\n        \"vs_688d56c2eb9081919d9287dfa3ed1cb8\"\n      ]\n    }\n  },\n  \"metadata\": {\n    \"channel\": \"whatsapp\",\n    \"from_e164\": \"{{$json.from_e164}}\",\n    \"last_thread_id\": \"{{$json.last_thread_id}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        480
      ],
      "id": "388339a6-d6d1-45d8-8bc8-52d5fb6bd9d4",
      "name": "Créate Run1",
      "credentials": {
        "openAiApi": {
          "id": "lIsgSHGWEnPHb8Zi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        96
      ],
      "id": "d07ef46e-768a-479e-b6c8-242694f25079",
      "name": "Merge5"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{$json.thread_id}}/runs/{{$json.id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        672
      ],
      "id": "97425fbc-9cfb-47de-9a9c-da848db9e42c",
      "name": "Check run1",
      "credentials": {
        "openAiApi": {
          "id": "lIsgSHGWEnPHb8Zi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e81b3043-c014-453f-a5b9-8f44bdbc9a5b",
              "leftValue": "={{$json.status}}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        656
      ],
      "id": "29a6a392-1cd5-4628-9908-5de0f51a37e1",
      "name": "If3"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        912
      ],
      "id": "111e12eb-b7fa-4b6e-a7b2-f1e221446a5c",
      "name": "Wait1",
      "webhookId": "f2818aab-7347-43cc-822b-56eb673b7ae8"
    },
    {
      "parameters": {
        "content": "## I'm a note 5.19 4 SEP \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        656
      ],
      "typeVersion": 1,
      "id": "3f828358-4d04-4675-b6dc-473f0abe31c8",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Crear Thread1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje1": {
      "main": [
        [
          {
            "node": "Créate Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Respuesta1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lead fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize1": {
      "main": [
        [
          {
            "node": "Lookup1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Use existing thread1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use new thread1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge thread data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Use existing thread1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use new thread1": {
      "main": [
        [
          {
            "node": "Merge thread data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge thread data1": {
      "main": [
        [
          {
            "node": "Crear Thread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créate Run1": {
      "main": [
        [
          {
            "node": "Check run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Lead fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check run1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Obtener Respuesta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce8b51cf-fc06-4697-90c1-6606900fa29e",
  "meta": {
    "instanceId": "6909343c8e9fc8c0409edf5a774ba61b41effc3a90319db4cb92f50a7ad9a420"
  },
  "id": "u7O7SqwJx7LthGDj",
  "tags": []
}
